
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* -------------------- 全局变量 -------------------- */
html {
  --fontColor: #222222;
}
body {
  -webkit-overflow-scrolling:touch; /* 用于 ios5+ 页面滚动流畅 */
}

/* -------------------- 工具样式 -------------------- */
.line1 {  /* 一行 */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.line2 {  /* 两行 */
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.hover { /* 手指悬浮 */
  cursor: pointer;
}
.blue {
  color: #409EFF;
}
.red {
  color: #F56C6C;
}
.grey {
  color: #C0C4CC;
}

/* -------------------- 饿了么样式 -------------------- */
/**
 * [表格]
 */
.el-table {
  font-size: 12px !important;
}
/* 表格 -- 表头 */
.el-table > div th, .el-table > div th > .cell {
  min-height: 22px !important;
  color: #2e6e9e !important;
  font-size: 12px !important;
  font-weight: bold !important;
  font-family: Tahoma, Lucida Grande,Lucida Sans,Arial,sans-serif !important;
  text-align: center !important;
  padding: 0 2px !important;
  background: #dfeffc url(../images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x !important;
}
/* 表格 -- 单元格 */
td {
  /* color: var(--fontColor) !important; */
  font-size: 12px !important;
  padding: 0 !important;
}
td > .cell {
  line-height: 18px !important;
  text-align: center !important;
}
.cell p {
  line-height: 16px !important;
  margin: 4px 0 !important;
}

/**
 * [按钮]
 */
.el-button {
  color: #2e6e9e !important;
  font-size: 12px !important;
  font-weight: bold !important;
  background: #dfeffc url(../images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x !important;
  border: 1px solid #c5dbec !important;
  border-radius: 5px !important;
}
.el-button:hover {
  border: 1px solid #79b7e7 !important;
}

/**
 * [下拉框]
 */
/* 单个选项 */
.el-select-dropdown__item {
  height: 25px !important;
  font-size: 12px !important;
  line-height: 25px !important;
  padding: 0 10px !important;
}

/**
 * [多选框]
 */
.el-checkbox {
  margin-right: 20px !important;
}
.el-checkbox > .el-checkbox__label {
  font-size: 12px !important;
}
.el-checkbox:last-child {
  margin-right: 0 !important;
}

/**
 * [悬浮框]
 */
 .el-popover {
   padding: 6px !important;
 }
 .el-popover > div > input {
   height: 26px !important;
   font-size: 12px !important;
   display: flex !important;
   align-items: center !important;
 }
 .el-popover > div > .el-input__suffix { /* input 中删除按钮 */
   margin-top: -6px !important;
 }

 /**
  * [分页]
  */
.el-pagination {
  padding: 0 !important;
}
.el-pagination > .el-pagination__sizes { /* 总条数 */
  margin: 0 0 0 30px !important;
}
.el-pagination > .el-pagination__sizes > .el-select > .el-input--suffix { /* 总条数 */
  margin-right: 0 !important;
}
